<div id="business-logo-form-wrapper">
  <%= render partial: "business_logo_form", locals: { business: @business } -%>
</div>

<%= form_for(@business, :url => business_path) do |f| -%>
  <div class="row">
    <div class="span4">
      <label>Business Name</label>
      <%= f.text_field :name -%>

      <label>Website Address</label>
      <div class='business-urls'>
        <%= f.fields_for :business_urls do |business_url| -%>
          <div>
            <%= business_url.text_field :domain -%>

            <a href="javascript:void(0);" class="btn btn-yellow btn-add more-url">
              <i class="icon-plus"></i>
            </a>
          </div>
        <% end -%>
      </div>

    <label>Address</label>
    <%= f.text_area :address -%>
  </div>
  <div class="span4">
    <label>Email Address</label>
    <%= f.text_field :email -%>

    <label>Phone</label>
    <%= f.text_field :phone -%>

    <label>Twitter Handle</label>
    <%= f.text_field :twitter_handle -%>

    <label>Facebook Website Address</label>
    <%= f.text_field :facebook_url -%>

    <label>Pinterest</label>
    <%= f.text_field :pinterest_handle -%>
  </div>
</div>

<button class="<%= save_profile_button_class -%>" type="submit">
  Save Profile Information
</button>

<% end -%>
