<div class="span3 hidden-phone">
  <div class="user-info">
    <div class="customer-brand">
      <%= @business.name -%>
    </div>
    <div class="customer-name">
      <div>
        Hello <span><%= current_business_staff.name -%></span>
      </div>
      <%= link_to("logout",destroy_business_staff_session_path, method: :delete) -%>
    </div>
  </div>
  <div class="menu-title">
    Dashboard
  </div>
  <ul class="nav nav-list">
    <li class="">
      <%= link_to(products_path) do -%>
        Products
        <div class="arrow-left"></div>
      <% end -%>
    </li>
    <li class="">
      <a href="#">Potential Customers
        <div class="arrow-left"></div>
      </a>
    </li>
    <li class="active">
      <a href="#">Customers Leads
        <div class="arrow-left"></div>
      </a>
    </li>
  </ul>
  <div class="clear"></div>
  <%= link_to("Accounts", complete_profile_business_path, class: "other-menus") -%>
  <a class="other-menus" href="#">Help</a>
</div>
