<div class="modal lead-capture hide fade" id="lead-confirmation">
  <div class="modal-header">
    <button class="close" type="button" data-dismiss="modal" area-hidden="tru">
      &times
    </button>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <h1> GREAT SUCCESS!! </h1>
    </div>
  </div>

  <div class="modal-footer">
    <a class="btn btn-danger btn-large" href="/retail_leads/new"> Done </a>
  </div>


  <div class="modal-footer">
    <a class="btn btn-danger btn-large" href="/retail_leads/new?add=true&email=<%= lead.email -%>&name=<%= lead.name -%>&phone_number=<%= lead.phone_number-%>" > Add another to <%= lead.email -%> </a>
  </div>

<%= debug params %>

</div>
