<div class="release-liability">
  <%= form_for @lead, url: retail_leads_path do |f| -%>
  <div class="row-fluid">
    <div class="span12">
      <%= image_tag(business_form_logo_url_helper(@business), width: 160, height: 80, class: "img-polaroid pull-left m-right25") -%>
      <h1><%= @business.name -%></h1>
    </div>
  </div>

  <%- if @business.lead_config.include_liability? -%>
    <div class="row-fluid">
      <div class="span12">
        <div class="well">
          <div class="overflow">
            <h3>Release and Waiver of Liability, Assumption of Risk, and Indemnity Agreement</h3>
            <p> <%= @business.lead_config.liability -%> </p>
          </div>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="row-fluid">
    <div class="span12">
      <div id="business-liability"></div>
      <%- if @business.lead_config.ask_for_name? -%>
        <%= f.label :name, 'Full Name of participant or Parent/Guardian, if participant is a minor.' -%>
        <%= f.text_field  :name -%>
      <% end -%>

      <%= f.label :phone_number, 'Phone Number' -%>
      <%= f.text_field  :phone_number -%>
      <%= f.label :email, 'Email' -%>
      <%= f.email_field :email -%>
    </div>
  </div>

  <%- if @business.lead_config.ask_to_join_list? -%>
    <div class="row-fluid">
      <div class="span12">
        <label class="checkbox"> <%= f.check_box  :join_list -%> Join Mail List </label>
      </div>
    </div>
  <% end -%>

  <div class="row-fluid">
    <div class="span12">
      <%= f.submit 'Submit', :class => 'btn btn-large btn-danger' %>
    </div>
  </div>

  <% end -%>
  <br/>
  <hr/>
  <small>powered by mightbuy.it</small>
</div>
