<div class="container silhouette-bg">
  <div class="trapezoid-bg hidden-phone"></div>
  <div class="content">
    <div class="top-gradient"></div>
    <div class="row">
      <div class="login-form">
        <h2 class="logo">MightBuy.<span>for business</span></h2>
        <hr/>
        <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= f.error_notification %>        
          <%= f.input :reset_password_token, :as => :hidden %>
          <%= f.full_error :reset_password_token %>        
          <div class="inputs">
            <%= f.input :password, :label => "New password" %>
            <%= f.input :password_confirmation, :label => "Confirm your new password" %>
          </div>        
          <div class="actions">
            <%= f.button :submit, "Change my password", :class=>"btn btn-yellow w274" %>
          </div>
          <hr class="m-bot0"/>
        <% end %>
      </div>
    </div>
    <div class="footer">
      <div class="row-fluid">
        <div class="span6 b-right-dark">
          <div class="c-holder-left">
            <%= link_to(new_session_path(resource_name)) do -%>
              <span class="normal-font">Sign In</span>
              <span class="tiny-font">Already a member, login!</span>
            <% end -%>
          </div>
        </div>
        <div class="span6 b-right-light">
          <div class="c-holder-right">
            <%= link_to(new_business_path) do -%>
              <span class="normal-font">Register account</span>
              <span class="tiny-font">Register a new account here!</span>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--h2>Change your password</h2>
<%= render :partial => "devise/shared/links" %-->