<tr id="edit-lead-entry-<%= lead.id -%>">
  <td colspan="6" class="add-deal">
    <%= form_for lead, url: lead_path(lead), remote: true, html: { class: "form-horizontal clearfix" } do |f| -%>
      <div class="pull-left m-top10">
        <%= image_tag(lead_photo_url_helper(lead), class: "m-right20") -%>
      </div>
      <div class="pull-left">
        <h4><span class="remove-bold"><%= lead.name -%></span></h4>

        <div class="clearfix m-top10">
          <label class="label-mini">Product:</label>

          <div class="pull-left mLeft10">
            <%= f.select :product_id, product_list_helper(lead.business) -%>
          </div>
          <br clear="all"/>
          <label class="label-mini">Price:</label>

          <div class="pull-left mLeft10">
            <%= f.text_field :price -%>
          </div>
          <br clear="all"/>

          <br clear="all"/>
          <label class="label-mini">&nbsp</label>

          <div class="pull-left m-top10">
            <button class="btn btn-danger" type="submit">
              Resend
            </button>
            <button class="btn btn-danger m-left5">
              Cancel
            </button>
          </div>
        </div>
      </div>
    <% end -%>
  </td>
</tr>
