<tr id="edit-lead-entry-<%= lead.id -%>" class="edit-lead-entry">
  <td colspan="6" class="add-deal">
    <%= form_for lead, url: lead_path(lead), remote: true, html: { class: "form-horizontal clearfix" } do |f| -%>
      <div class="pull-left m-top10">
        <%= image_tag(lead_photo_url_helper(lead), class: "m-right20") -%>
      </div>
      <div class="pull-left">
        <h4><span class="remove-bold"><%= lead.name -%></span></h4>

        <div class="clearfix m-top10">
	      <label class="label-mini">Name:</label>
          <div class="pull-left mLeft10">
            <%= f.text_field :name -%>
          </div>
          <br clear="all"/>   
  		  <br>

          <label class="label-mini">Email:</label>
          <div class="pull-left mLeft10">
            <%= f.text_field :email -%>
          </div>
          <br clear="all"/>   
  		  <br>

		  <label class="label-mini">Product:</label>

          <div class="pull-left mLeft10">
            <%= f.select :product_id, product_list_helper(lead.business) -%>
          </div>
          <br clear="all"/>

          <label class="label-mini">&nbsp</label>
		  <br clear="all"/>

	      <div class="pull-left mLeft10">
	        <label class="label-mini">Message:</label>
	        <%= f.text_area :message, rows: 3, cols: 10 -%>
	        <br clear="all"/>
	      </div>

          <label class="label-mini">&nbsp</label>
		  <br clear="all"/>

          <div class="pull-left m-top10">
            <button class="btn btn-danger" type="submit">
              Send
            </button>
            <%= link_to 'Cancel', "#", class: "btn btn-danger m-left5 edit-cancel", "data-edit-lead-entry-id" => "edit-lead-entry-#{lead.id}" -%>
            <a class="btn btn-danger" href="/retail_leads/new?list_add=1&email=<%= lead.email -%>&name=<%= lead.name -%>&phone_number=<%= lead.phone_number-%>" > Add image </a>
          </div>



   

        </div>
      </div>


    <% end -%>
  </td>
</tr>
