<div class="span9 bg-dark unevenheights edit-lead">
  <h3 class="page-title align-right">Edit Lead</h3>

  <div class="row-fluid">
    <%= form_for @lead, url: lead_path(@lead) do |lead_form| -%>


      <div class="span12">
        <%= lead_form.label :name, 'Name' -%>
        <%= lead_form.text_field  :name -%>


        <%= lead_form.label :email, 'Email' -%>
        <%= lead_form.email_field :email -%>
      </div>



        <div class="span12">
          <%= lead_form.label :product_id, 'Select a Product' -%>
          <%= lead_form.select :product_id, product_list_helper(@business) -%>
        </div>


      <div class="span12">
        <%= lead_form.label :message, 'Description' %>
        <%= lead_form.text_area :message, rows: 3, cols: 10 -%>
      </div>

      <div class="span12">
        <%= lead_form.label :image, 'Images' %>
      <%= lead_form.fields_for :topics do |topic_form| %>
        <% if topic_form.object.new_record? %>
        <div class="span12 photo-upload">
          <input id="filename" type="text" class="input disabled pull-left visible-desktop" name="filename" readonly>
          <a id="fileselectbutton" class="btn btn-danger pull-left">Add another</a>
          <%= topic_form.file_field :image %>
          <%= topic_form.hidden_field :retained_image %>
        </div>
        <% else -%>
        <div class="span2 image-preview" data-topic="<%= topic_form.object.to_param %>">
          <div class="well">
            <% if topic_form.object.image -%>
              <%= link_to topic_form.object.image.url, target: '_blank' do -%>
              <%= image_tag(lead_topic_image_url_helper(topic_form.object), class: "m-right20") -%>
              <% end %>
            <% else %>
              <%= image_tag(lead_topic_image_url_helper(topic_form.object), class: "m-right20") -%>
            <% end %>

            <% if not @lead.sent? -%>
            <%= link_to('Delete', lead_topic_path(@lead, topic_form.object), data: { remote: true, method: :delete }) %>
            <% end -%>
          </div>
        </div>
        <% end -%>
      <% end -%>
      </div>


      <div class="span12 submit">
        <%= lead_form.submit 'Send', class: 'btn btn-large btn-danger' %>
        <%= lead_form.submit 'Save', class: 'btn btn-large btn-danger' %>
      </div>
    <% end -%>
  </div>
</div>