<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      @font-face {
        font-family: Museo500;
        src: url(http://business.mightbuy.it/assets/Museo500-Regular.otf);
      }
      @font-face {
        font-family: Museo700;
        src: url(http://business.mightbuy.it/assets/Museo700-Regular.otf);
      }
    </style>
  </head>
  <body style="background-color:#e6d6c7;margin: 0">
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="800">
      <tr>
        <td colspan="2" height="100">
          <div style="float:right">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">
              var addthis_config = {"data_track_addressbar":true, "services_expanded":"twitter,facebook"};
              var addthis_share = {"url": "<%= @lead_invite.topic_url %>", "title": "<%= @lead_invite.topic_url %>" };
            </script>
            <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50aa1e80249de8c1"></script>
            <!-- AddThis Button END -->
          </div>
          <a href="http://business.mightbuy.it" style="text-decoration: none" target="_blank">
            <span style="font-family:Museo700, Arial, Helvetica, sans-serif;font-size: 40px;font-weight: normal;color: #4E3227;position: relative;line-height: 100%;">
              <%= @lead_invite.lead.business.name %>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td style="background: #fff;padding:20px 0 20px 35px;border-left:5px solid #eee4d9;border-top:5px solid #eee4d9;border-bottom:5px solid #eee4d9;" valign="top">
          <h3 style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 18px;color:#333">
            Hi <%= @lead_invite.name -%>,
          </h3>
          <p style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 16px;color:#333">
            <%= @lead_invite.message -%>
          </p>
          <br/>
          <p style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 14px;color:#333">
            You can view this item on Mightbuy:<br/>
            <%= link_to(@lead_invite.lead_url,@lead_invite.lead_url, style: "color: #00e", target: "_blank") %>
          </p>
          <br/>
          <p style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 14px;color:#333">
            Thanks for joining and have a great day!<br><b>Mightbuy Team</b>
          </p>
          <p style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 14px;color:#333">
            <span style="color:#000">Phone:</span> <%= @lead_invite.business_phone %> <br/>
            <span style="color:#000">E-mail:</span> 
            <%= link_to(@lead_invite.business_email, @lead_invite.business_email) %>
          </p>
        </td>
         <td style="background: #fff;padding:41px 35px 20px 35px;border-right:5px solid #eee4d9;border-top:5px solid #eee4d9;border-bottom:5px solid #eee4d9;width:250px;">
          <div style="display:table-cell; vertical-align:middle; text-align:center;width:250px;height:275px;border:1px solid #ccc;background:url(<%= image_path @lead_invite.lead.photo.remote_url %>) center center no-repeat #fff">
          </div>
          <h5 style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 15px;margin-bottom: 10px;color:#333"> See your picture on MightBuy: </h5>
          <ul style="font-family:Museo500,  Arial, Helvetica, sans-serif;font-size: 14px;line-height:150%;margin-top: 0;margin-bottom: 30px;padding-top: 0;padding-left: 17px;color:#333">
            <li>
              access the full size image.
            </li>
            <li>
              get more product information
            </li>
            <li>
              ask your friends opinion
            </li>
            <li>
              buy online
            </li>
          </ul>
          <% if @lead_invite.offer_text %>
            <h5 style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 15px;margin-bottom: 10px;color:#333"> Discount available: </h5>
            <p style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 14px;color:#333">
              <%= @lead_invite.offer_text %>
            </p>
          <% end %>
          <p style="font-family:Museo500, Arial, Helvetica, sans-serif;font-size: 14px;color:#333">
            Join <a href="http://www.mightbuy.it">MightBuy</a>
          </p>
          
        </td>
      </tr>
      <tr>
        <td height="50" style="font-family: Museo500, Arial, Helvetica, sans-serif;font-size: 12px;color: #333;"> Powered by <img align="bottom" src="http://www.mightbuy.it/assets/logo-small.png" alt="" style="vertical-align: middle;"/></td>
        <td align="right" height="50" style="font-family: Museo500, Arial, Helvetica, sans-serif;font-size: 12px;color: #333;"> &copy; 2012 Prizzm, Inc. </td>
      </tr>
      <tr>
        <td colspan="2" height="30"> &nbsp; </td>
      </tr>
    </table>
  </body>
</html>
