
<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
      <!--
      body {
          font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
          background: #ffffff;
          margin: 0;
          padding: 0;
          color: #000;
      }

          /* ~~ Element/tag selectors ~~ */
      ul, ol, dl {
          padding: 0;
          margin: 0;
      }
      a img {
          border: none;
      }

      a:link {
          color: #a66565;
          text-decoration: none;
      }
      a:visited {
          color: #a66565;
          text-decoration: none;
      }
      a:hover, a:active, a:focus {
          text-decoration: none;
      }


      .container {
          width: 665px;
          background: #FFF;
          margin-top: 0;
          margin-right: auto;
          margin-bottom: 0;
          margin-left: auto;
      }

      .content {

          padding: 10px 0;
      }


      .fltrt {
          float: right;
          margin-left: 8px;
      }
      .fltlft {
          float: left;
          margin-right: 8px;
      }
      .clearfloat { /
      clear:both;
          height:0;
          font-size: 1px;
          line-height: 0px;
      }


      .storeName {
          height: 43px;
          width: 90px;
          padding-right: 25px;
      }
      .emailBody {
          height: auto;
          width: 100%;
          float: left;
          background: #E6DFD6;
      }

      h1 {
          font-size: 18px;
      }
      h2 {
          font-size: 12px;
      }
      h1,h2,h3,h4,h5,h6 {
          font-family: Verdana, Geneva, sans-serif;
      }
      body,td,th {
          font-family: Arial, Helvetica, sans-serif;
      }
      .poweredBy {
          color: #6d3939;
      }
      a:hover {
          text-decoration: none;
      }
      a:active {
          text-decoration: none;
      }
      .pictureFrame {
          background-color: #6d3939;
          height: 175px;
          width: 250px;
      }

      .heading {
          background: #6B393D;
          line-height: 75px;
          float: left;
          width: 100%;
          border-bottom: 18px solid #572E32;
      }

      .businessName {
          float: left;
      }
      .businessName p {
          float: left;
          font-size: 40px;
          font-weight: bolder;
          font-style: normal;
          font-variant: normal;
          color: #FFFFFF;
          font-family: Verdana, Geneva, sans-serif;
          padding: 0 10px;
          margin: 0;
          width: 470px;
      }

      .social {
          float: right;
          padding: 16px 10px;
      }
      .offerMessage {
          float: left;
          width: 384px;
          margin-top: 10px;
          padding: 0 10px;
      }

      .imageSide {
          float: left;
          width: 250px;
      }
      -->
  </style>
</head>
<title>MightBuy.it</title>
<body>

<div class="container">
  <div class="content" style=" width:665px;">

    <div class="heading" >
      <div class="businessName"><p><%= @lead_invite.lead.business.name.titlecase %></p></div>
      <div class="social">

        <% if !@lead_invite.lead.business.twitter_handle.blank? %>
            <a href="http://www.twitter.com/<%= @lead_invite.lead.business.twitter_handle %>" >
              <img alt="Twitter" src="<%= image_path('http://www.ryanloper.com/mightbuyemail/twitter.png') %>" align="right" />
            </a>
        <% end %>

        <% if !@lead_invite.lead.business.facebook_url.blank? %>
            <a href="<%= @lead_invite.lead.business.facebook_url %>" >
              <img alt="Facebook" src="<%= image_path('http://www.ryanloper.com/mightbuyemail/fb.png') %>" align="left" />

            </a>
        <% end %>
      </div>
    </div>


    <div class="emailBody" >
      <div class="offerMessage" >
        <h1> Hi <%= @lead_invite.name.titlecase %> </h1>
        <h2> Thank you so much for shopping our <%= @lead_invite.lead.business.name.titlecase %> store.<br><br>
          Here is a link to the <a href="<%= @lead_invite.lead_url %>" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #d54937">image</a> from your visit to remind you about exactly what you looked at in our store.  The image is easy to share, please do so, ask your friends what they think.  

          <% if @lead_invite.lead.product and @lead_invite.lead.product.bargin -%>
              <br><br>
              Also - we are offering MightBuy Special: <%= @lead_invite.lead.product.bargin.offer %>
			  <% if @lead_invite.lead.product.bargin.has_conditions -%>
                  when you share and <%= @lead_invite.lead.product.bargin.humanize -%>. Go ahead and ask them!
              <% end %>
          <% end %>
          <br/>
		  <br/> 
          If you have any more questions, feel free to contact us. <br>
          <%= replace_variables_helper(@lead_invite.business_staff.email_signature, @lead_invite) %>
          <br>
          <% if not @lead_invite.message.empty? %>
              <%= @lead_invite.message %>
              <br>
          <% end %>
          <br />
          Phone: <%= @lead_invite.business_phone -%>
          <br />
          Email: <a href="mailto:<%= @lead_invite.business_email -%>"><%= @lead_invite.business_email -%></a>
          <br />
          Web: <a href="<%= @lead_invite.business.business_urls.first.domain%>"><%= @lead_invite.lead.business.name %></a>
        </h2>

        <center>
          <a href="<%= @lead_invite.lead_url %>" target="_blank"><img src="http://www.ryanloper.com/mightbuyemail/buttonLarge.png"/></a>
        </center>


        <div class="poweredBy" >
          <h5>Powered By: <a href="http://www.mightbuy.it" target="_blank">MightBuy</a></h5>
        </div>
      </div>


      <div class="imageSide">
        <center>
          <br />
          <p><font color="#6d3939"> <strong><%= @lead_invite.lead.product.name %></strong> </font> &nbsp; &nbsp;
			
			<!-- REPLACE THIS SECTION with the following logic: if there is product.price, and product.discount, show the full price crossed out and the discount % shown,
			<% if @lead_invite.lead.product.price -%>
            	<font color="#000000"><del> $899 </del></font> &nbsp;
			<% end %>
			-->
            <font color="#6d3939"><strong> <%= number_to_currency(@lead_invite.lead.product.price) -%> </strong></font> </p>
        </center>


        <div class="pictureFrame">
          <a href="<%=@lead_invite.lead_url %>">
            <img alt="Product" border="0" src="<%= image_path @lead_invite.lead.topics.first.image.thumb('250x175#').url %>" width="250" height="175">
          </a>
        </div>


        <center>
          <h6>
            <li>Access the full size image</li>
            <li>Get more product information </li>
            <li>Ask your friends opinion</li>
            <li>Buy online</li>
            <% if @lead_invite.lead.product and @lead_invite.lead.product.bargin -%>
                  PLUS:</br>
				  <b>***MIGHTBUY SPECIAL BONUS**** </b><br>
				   from <%= @lead_invite.lead.business.name %>:
                  <%= @lead_invite.lead.product.bargin.offer %><br>
				  
				   <% if @lead_invite.lead.product.bargin.has_conditions -%>
                     <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                       Valid when <%= @lead_invite.lead.product.bargin.humanize -%> using MightBuy.
                     </span>
                   <% end %>

            <% end -%>
          </h6>
        </center>


      </div>
    </div>

    <!-- end .content --></div>
  <!-- end .container --></div>
</body>
</html>