
<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
        @media only screen and (max-device-width: 280px) {
            table[class=table-resize] {
                width:320px !important;
            }
        }

        body {
            background-color: #e6d6c7;
            font-family: Arial, Helvetica, sans-serif;
        }

        a[href^=tel]{
            color:inherit;
            text-decoration:none;
        }
        </style>

        <title>MightBuy.it</title>
    </head>
    <body bgcolor="#e6d6c7">
        <table align="center" valign="middle" cellspacing="0" cellpadding="0" width="800">
            <tr>
                <td colspan="3" height="15"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td align="left" width="50%">
                                <span style="color: #4e3227; font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight: normal;">
                                    <%= @lead_invite.lead.business.name %>
                                </span>
                            </td>
                            <td align="right" width="50%">
                                <table cellspacing="0" cellpadding="0" width="70">
                                    <tr>
                                        <td width="30">
                                            <% if not @lead_invite.lead.business.twitter_handle.blank? -%>
                                                <a href="<%= @lead_invite.lead.business.twitter_handle %>" style="text-decoration: none;">
                                                    <img alt="Twitter" border="0" height="31" src="<%= image_path('email/twitter.png') %>" width="30" />
                                                </a>
                                            <% end %>
                                        </td>
                                        <td width="10"></td>
                                        <td width="30">
                                            <% if not @lead_invite.lead.business.facebook_url.blank? -%>
                                                <a href="<%= @lead_invite.lead.business.facebook_url %>" style="text-decoration: none;">
                                                    <img alt="Facebook" border="0" height="31" src="<%= image_path('email/facebook.png') %>" width="30" />
                                                </a>
                                            <% end %>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="20"></td>
            </tr>
            <tr>
                <td bgcolor="#eee4d9" colspan="3" height="5"></td>
            </tr>
            <tr>
                <td bgcolor="#eee4d9" width="5"></td>
                <td bgcolor="#ffffff">
                    <table bgcolor="#ffffff" class="table-resize" cellspacing="0" cellpadding="0" width="790">
                        <tr>
                            <td valign="top" width="100%">
                                <table align="left" bgcolor="#ffffff" cellspacing="0" cellpadding="25" width="60%">
                                    <tr>
                                        <td valign="top">
                                            <table cellspacing="0" cellpadding="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <span style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;">Hi <%= @lead_invite.name -%>,</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                <% if not @lead_invite.message.empty? %>
                                                <tr>
                                                    <td>
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000;">
                                                            <%= @lead_invite.message %>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="40"></td>
                                                </tr>
                                                <% end %>
                                                <tr>
                                                    <td>
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                                                            Thanks you so much for stopping by our store!
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                                                            You can email, call or use the <a href="<%= @lead_invite.lead_url %>" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #d54937;" target="_blank">MightBuy.it</a> link to get in touch.
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                                                            Hope to hear from you soon
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                                                            <%= @lead_invite.lead.business.name %>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                                                            Phone: <a href="tel:<%= @lead_invite.business_phone -%>" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #d54937;"><%= @lead_invite.business_phone -%></a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000;">
                                                            Email: <a href="mailto:<%= @lead_invite.business_email -%>" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #d54937;"><%= @lead_invite.business_email -%></a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <table cellspacing="0" bgcolor="#ffffff" cellpadding="25" width="40%">
                                    <tr>
                                        <td>
                                            <table cellspacing="0" cellpadding="0" width="100%">
                                                <% if @lead_invite.lead.photo -%>
                                                <tr>
                                                    <td align="left" colspan="2">
                                                        <a href="<%=@lead_invite.lead_url %>">
                                                            <img alt="Product" border="0" src="<%= image_path @lead_invite.lead.photo.thumb('125x').url %>" width="125">
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" height="15"></td>
                                                </tr>
                                                <% end -%>
                                                <tr>
                                                    <td colspan="2">
                                                        <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;">
                                                            See your picture on MightBuy:
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" height="5"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <ul style="font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                                                            <li>Access the full size image</li>
                                                            <li>Get more product information</li>
                                                            <li>Ask your friends opinion</li>
                                                            <li>Buy online!</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" height="15"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <a href="<%= @lead_invite.lead_url %>" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #d54937">
                                                            View on MightBuy.it!
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td bgcolor="#eee4d9" width="5"></td>
            </tr>
            <tr>
                <td bgcolor="#eee4d9" colspan="3" height="5"></td>
            </tr>
            <tr>
                <td colspan="3" height="15"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td align="left" width="50%">
                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                                    Powered by
                                </span>
                                <a href="http://www.mightbuy.it/" style="text-decoration: none;">
                                    <img alt="MightBuy" border="0" height="20" src="<%= image_path('email/logo-small.png') %>" valign="middle" width="83">
                                </a>
                            </td>
                            <td align="right" width="50%">
                                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                                    &copy; 2012 Prizzm, Inc.
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>