<td>
  <%= link_to(product.url, product.url, :target=> "_blank") -%>
</td>
<td>
  <%= product.name -%>
</td>
<td>
  <%= product.topics.count -%>
</td>
<td class="product-deals">
  <%- if product.bargin -%>
    <%= link_to 'Edit Deal', edit_product_deal_path(product), remote: true, class: "btn btn-danger btn-mini m-left10 add-deal-button" -%>
  <% else -%>
    <button class="btn btn-danger btn-mini m-left10 add-deal-button" data-product-id="<%= product.id -%>">
      Add Deal
    </button>
  <% end -%>
</td>
<td>
  <%= link_to(edit_product_path(product), class: "btn btn-mini", remote: true) do -%>
    <i class="icon-pencil"></i>
  <% end -%>
  <%= link_to(product_path(product), method: :delete, class: 'btn btn-mini btn-danger') do -%>
    <i class="icon-remove icon-white"></i>
  <% end -%>
</td>
