<div class="span9 bg-dark unevenheights">
  <h3 class="page-title align-right"> Products added by website URL </h3>

  <div class="table-container">
    <div class="table-header clearfix">
      <button class="btn btn-small btn-danger pull-right add-product-btn">
        Add Products
      </button>
      <div class="title">
        Products
      </div>
    </div>
    <table class="table">
      <tr class="add-product-row hide">
        <%= render :partial => "add_product" -%>
      </tr>
      <tr>
        <th>URL</th>
        <th>Product Name</th>
        <th>Interested Buyers</th>
        <th>Available Deals</th>
        <th>Edit/Delete</th>
      </tr>
      <% @products.each do |product| -%>
        <tr>
          <td>
            <%= link_to(product.url, product_path(product)) -%>
          </td>
          <td>
            <%= product.name -%>
          </td>
          <td>
            <%= product.topics.count -%>
          </td>
          <td>
            <a href="#">4</a>
            <button class="btn btn-danger btn-mini m-left10">
              Add Deal
            </button>
          </td>
          <td>
            <button class="btn btn-mini">
              <i class="icon-pencil"></i>
            </button>
            <%= link_to(product_path(product), method: :delete, class: 'btn btn-mini btn-danger') do-%>
              <i class="icon-remove icon-white"></i>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </table>
    <div class="table-footer clearfix">
      <%= paginate @products, :theme => 'mightbuy_theme' -%>
    </div>
  </div>
</div>
